---
Title: Cake.ESLint  
NoSidebar: true
NoContainer: false
NoGutter: true
---
@{
    string link = Context.GetLink("/api/Cake.ESLint/ESLintAliases/");
}
<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.ESLint is an Addin for <a href="http://cakebuild.net/">Cake</a> to use <a href="https://eslint.org/">ESLint</a>.
    </p>
</div>
<div class="container">
	<h1>Usage</h1>
  <div>
  <h2>Usage in Cake</H2>
    <p>
        Have a look at <a href="@link">ESLintAliases</a> on how to integrate with <a href="http://cakebuild.net/">Cake</a>. 
        There are some examples there.
    </p>
  </div>
</div>
